<h1>Orders</h1>

<table class="CSSTableGenerator">
  <tr>
    <th>Table</th>
    <th>Total</th>
  </tr>

<% @orders.each do |order| %>
  <tr>
    <td><%= order.table_num %></td>
    <td><%= order.total %></td>
    <td style="text-align: center; width: 80px"><%= link_to 'Show', order %></td>
    <td style="text-align: center; width: 80px"><%= link_to 'Remove', order, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />
